{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

{% block title %}
Homepage
{% endblock %}
 
{% block content %}
<h2>
    What would you like to change about your house?
</h2>
<form method="post">
    {{ render_form_row([UserHomeForm.beds, UserHomeForm.garage]) }}
    {{ render_form_row([UserHomeForm.full_baths, UserHomeForm.three_qtr_baths, UserHomeForm.half_baths, UserHomeForm.qtr_bath]) }}
    {{ render_form_row([UserHomeForm.submit, UserHomeForm.reset, UserHomeForm.start_over], 
        button_map={'submit': 'primary', 'reset': 'secondary', 'start_over': 'danger'}) }}
</form>


{% endblock %}