{% extends 'base.html' %}

{% block title %}
About
{% endblock %}
 
{% block content %}
<h1>What is BHU?</h1>
<p>
    BHU stands for Bang For Buck Housing Upgade, but I thought the moniker BHU was cuter. BHU gives 
    Homeowners insight into how remodeling might impact the value of their house. Labor and materials 
    are expensive, both monetarily and temporally. A homeowner deserves to know how much that might
    result if they choose to move.  That is where BHU steps in--based on your address, BHU loads a
    custom regional price model and allows you to add a bedroom, or take away a half bathroom and make
    it full. The model used is a deep neural network with about 20 features including basic stats like
    square footage and number of beds, but also neighborhoods, how accessible the house is to local 
    amenities. The regional models aforementioned are modeled after 2,000 recent housing transactions 
    in the relevant city. Below are some of the technologies I used to make this happen.
</p>
<a href="https://www.redfin.com" target="_blank">
    <img src="https://ssl.cdn-redfin.com/v462.1.0/images/logos/redfin-logo-square-red-1200.png" 
        alt="Redfin's Walkscore"
        width="200" height="150">
</a>
<a href="https://rapidapi.com/datascraper/api/us-real-estate" target="_blank">
    <img src="/static/rapidapi.png" 
        alt="RapidAPI"
        width="200" height="150">
</a>
<a href="https://www.python.org/" target="_blank">
    <img src="https://www.python.org/static/img/python-logo@2x.png" 
        alt="Python"
        width="200" height="150">
</a>
<br>
<a href="https://pandas.pydata.org/" target="_blank">
    <img src="/static/pandas.png" 
        alt="Pandas"
        width="200" height="150">
</a>
<a href="https://scikit-learn.org/stable/" target="_blank">
    <img src="https://scikit-learn.org/stable/_static/scikit-learn-logo-small.png" 
        alt="Sklean"
        width="200" height="150">
</a>
<a href="https://seaborn.pydata.org/" target="_blank">
    <img src="https://seaborn.pydata.org/_static/logo-wide-lightbg.svg" 
        alt="Seaborn"
        width="200" height="150">
</a>
<br>
<a href="https://numpy.org/" target="_blank">
    <img src="https://numpy.org/images/logo.svg" 
        alt="Numpy"
        width="200" height="150">
</a>
<a href="https://flask.palletsprojects.com/en/2.2.x/" target="_blank">
    <img src="https://flask.palletsprojects.com/en/2.2.x/_images/flask-logo.png" 
        alt="Flask"
        width="200" height="150">
</a>
<a href="https://keras.io/" target="_blank">
    <img src="https://keras.io/img/logo.png" 
        alt="Keras"
        width="200" height="150">
</a>

{% endblock %}