{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

{% block title %}
Homepage
{% endblock %}
 
{% block content %}
<h2>
    Lets quickly make sure we agree on a few things. Are the below metrics generally accurate?
</h2>
<form method="post">
    {{ render_form_row([UserHomeForm.sqft, UserHomeForm.lot_sqft, UserHomeForm.beds, UserHomeForm.price]) }}
    {{ render_form_row([UserHomeForm.baths_full, UserHomeForm.baths_3qtr, UserHomeForm.baths_half, UserHomeForm.baths_1qtr]) }}
    {{ render_form_row([UserHomeForm.year_built, UserHomeForm.garage, UserHomeForm.new_construction]) }}
    {{ render_form(ButtonForm, button_map={'submit': 'primary', 'cancel': 'danger'}) }}
</form>
{% endblock %}