{% extends 'base.html' %}

{% block title %}
Homepage
{% endblock %}
 
{% block content %}
<h1>
    Welcome to BHU
    <span>
        <img src="{{ url_for('static', filename='favicon_ghost.ico') }}"/>
    </span>
</h1>
<p>
    Welcome to BHU! Live on the edge and just throw your address below and see what happens, or head over 
    to the about page and see whats up :)
</p>
<form action="{{ url_for('main_page')}}" method="POST">
    <!-- Address Input -->
    <div class="mb-3 mt-3">
        <label for="address" class="form-label">Address:</label>
        <input type="text" class="form-control" id="address" placeholder="Enter Address" name="address" required>
        <div class="valid-feedback">Seems Reasonable!</div>
        <div class="invalid-feedback">BHU Needs an Address!</div>
    </div>
    <!-- Form submit button -->
    <div class="d-grid">
        <button class="btn btn-primary btn-lg"  name="submit_button" value="submit-address">Submit</button>
    </div>
</form>
{% endblock %}