{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
{% from 'bootstrap5/table.html' import render_table %}

{% block title %}
Homepage
{% endblock %}
 
{% block content %}
<h2>
    What would you like to change about your house?
    Provided price = ${{ user_provided_price }}
</h2>
<form method="post">
    {{ render_form_row([UserHomeForm.beds, UserHomeForm.garage]) }}
    {{ render_form_row([UserHomeForm.baths_full, UserHomeForm.baths_3qtr, UserHomeForm.baths_half, UserHomeForm.baths_1qtr]) }}
    {{ render_table(New_House_Stats, Titles) }}
    {{ render_form(ButtonForm, button_map={'submit': 'primary', 'cancel': 'danger', 'reset': 'secondary'}) }}
</form>

{% endblock %}